# Keep this .gitignore file when building user FlexRIO release
# githubvisible=true

# Ignore everything in objects except "PLACE DEPENDENCIES ZIP FILE HERE"
objects/*
!objects/githubdeps/
objects/githubdeps/*
!objects/githubdeps/PLACE*DEPENDENCIES*ZIP*FILE*HERE.txt

modelsim/
transcript
*.jou
*.log
# Ignore Python bytecode cache files
__pycache__/
