objects/
modelsim/
transcript
*.jou
*.log
*.swp
*.swo
# This project's usage of nicdc is a big mess. This is just trying to not
# include the whole nicdc directory.
.qverify/
**/nicdc/work/
qcache/
cdc_setup/
cdc_template/
cdc_*.rpt
cdc.db
cdc.rpt
hcdc.rpt
propagate_user_reset_order.rpt
resetcheck_*.rpt
resetcheck.db
resetcheck.rpt
resettree.rpt
hierarchical_models_*.tcl
modelsim.ini
hrdc.rpt
