.vscode/
__pycache__/
transcript
modelsim/
objects/
*.jou
*.log
hwsetup*.bat
*.swp

# https://git-scm.com/docs/gitignore#_pattern_format
# foo/bar/ matches <root>/foo/bar folder
# **/foo/bar/ matches all bar folders under foo folders anywhere
# foo/ matches foo folders anywhere
# foo matches foo files and folders anywhere
# /foo matches <root>/foo file or folder
# * matches anyting except a slash
# ** has special path matching abilities (see link above)
